/*
|------------------------------------------
|  Global variables
|------------------------------------------
*/


$imgpath: '../images/';

/*
|------------------------------------------
|  Global 
|------------------------------------------
*/

.txt-a-ct {
    text-align: center;
}

.is-flex {
    display: flex;
}

/*
|------------------------------------------
|  header
|------------------------------------------
*/

.header{
    padding: 1rem;
}

h1 {
    font-size: 2rem;
}


/*
|------------------------------------------
|  button
|------------------------------------------
*/
.choice button {
    width: 90px;
    height: 90px;
    margin: 10px;
}

.rock {
    background-image: url('#{$imgpath}rock-1200px_1200px.png');
    
}

.scissors {
    background-image: url('#{$imgpath}scissors-1200px_1200px.png');
   
}

.paper {
    background-image: url('#{$imgpath}paper-1200px_1200px.png');
    
}
.rock,
.scissors,
.paper {
    background-size: contain;
}

/*
|------------------------------------------
| Scoreboard
|------------------------------------------
*/

.messageBoard{
    margin: 20px 0;
}

.round {
    margin: 20px 0;
}

.scoreboard {
    justify-content: center;
    .playerScore {
        margin-right: 100px;
    }
}

/*
|------------------------------------------
| Player Image Choice
|------------------------------------------
*/

.gameChoices {
    justify-content: center;
}

.gameChoices img {
    margin: 30px;
    width: 100px;
    height: 100px;
}
