/*
|------------------------------------------
|  Global variables
|------------------------------------------
*/

$imgpath: '../images/';

/*
|------------------------------------------
|  Global 
|------------------------------------------
*/



/*
|------------------------------------------
|  header
|------------------------------------------
*/

.header{
    text-align: center;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
}


/*
|------------------------------------------
|  button
|------------------------------------------
*/

.choice {
    display: flex;
}

.choice button {
    width: 90px;
    height: 90px;
    margin: 10px;
}

.rock {
    background-image: url('#{$imgpath}rock-1200px_1200px.png');
    
}

.scissors {
    background-image: url('#{$imgpath}paper-1200px_1200px.png');
   
}

.paper {
    background-image: url('#{$imgpath}scissors-1200px_1200px.png');
    
}
.rock,
.scissors,
.paper {
    background-size: contain;
}

